* {
    box-sizing: border-box;
    font-family: 'Forum', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* GENERAL */

html,
h1,
h2 {
    font-size: 20px;
    font-weight: 500;
}

.container {
    position: relative;
    width: 100%;
}

main {
    position: relative;
    width: 100%;
}

.btn {
    padding: 1.5vh 1.5vw;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    color: rgb(98, 98, 98);
    background: white;
    transition: all .4s ease-in-out;
}

.btn:active {
    transform: translateY(-1px);
}




/* HEADER */

header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
}

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 7vh;
}

.logo .link {
    font-size: 40px;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    position: relative;
    margin: 0 1vw;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.nav-link:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    content: "";
    transition: width 0.3s ease-out;
}

.nav-link:hover:after,
.nav-link:focus:after {
    width: 100%;
}

.icon {
    margin: 0 1vw;
    text-decoration: none;
    width: 15px;
}

.burger {
    display: none;
    cursor: pointer;
}

.submenu {
    width: 100%;
    border-bottom: 1px solid white;
    padding: 2vh 2vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    right: 0;
    transition: all 0.3s ease-out;
}

.submenu-link {
    width: fit-content;
    margin: 0;
    padding: 0;
}

/* CONTENT */



/* FOOTER */

footer * {
    font-family: 'Nunito';
}

footer {
    position: relative;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main {
    position: relative;
    display: flex;
    width: 100%;
    padding: 4vh 2vw 2vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-des1 {
    width: 40%;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partners {
    padding: 0 0 3vh;
}

.footer-des2 {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.footer-des21,
.footer-des22 {
    position: relative;
    width: 100%;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.f-section,
.f-soc,
.f-feedback {
    width: 33%;
    min-width: 100px;
    padding: 1vh 1vw;
}

.f-feedback {
    width: 67%;
}

.f-logo {
    width: 20%;
}

.footer-des11 {
    width: 80%;
}

.f-title {
    font-size: 1.2rem;
}

.f-text {
    display: block;
    cursor: pointer;
    width: max-content;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}

.fa-brands {
    cursor: pointer;
}

.partner-icons img {
    max-width: 40px;
    width: 5vw;
}

.f-feedback input {
    background-color: transparent;
    border: none;
    width: 100%;
}

.copy {
    font-size: 0.7rem;
}

/* ABOUT */

.about {
    padding: 2vh 5vw;
}

.about .d {
    text-align: center;
    padding: 1vh 1vw;
}

.welcome-title {
    font-weight: 500;
    margin-top: 30vh;
    font-size: 4rem;
    align-self: center;
    justify-self: center;
}

.btn {
    padding: 1.5vh 1.5vw;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    color: rgb(98, 98, 98);
    background: white;
    transition: all .4s ease-in-out;
}

.btn:active {
    transform: translateY(-1px);
}

::placeholder {
    color: #fff;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.block-title {
    color: black;
    font-size: 3rem;
    margin: 2vh 5vw;
}

.card {
    margin: 3vh 3vw;
    min-width: 220px;
    width: 220px;
    height: 300px;
    padding: 2%;
    background: rgb(255, 255, 255);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid rgb(230, 230, 230);
    border-left: 2px solid rgb(230, 230, 230);
    transition-duration: 1s;
    transition-property: border-top,
        border-left,
        border-bottom,
        border-right,
        box-shadow;
}

.card:hover {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(240, 162, 46, 0.1) 20px 20px, rgba(240, 162, 46, 0.05) 25px 25px;
}

.card__content {
    font-size: small;
    text-align: center;
}

.card__content-heading h2 {
    font-family: 'Nunito';
    color: black;
}

.card__content-body p {
    font-family: 'Nunito';
    color: black;
    padding-bottom: 1rem;
}

.subscribe {
    padding: 5vh 5vw;
    background: black;
}

.subscribe * {
    font-size: 2vw;
}

.subscribe h2 {
    font-family: 'Nunito';
}

.subscribe button {
    height: 6vh;
    font-size: 1.5vw;
    border-radius: 1vh;
    padding: .5vh 1vw;
}

.subscribe input {
    padding: 1vh 1vw;
    height: 6vh;
    width: 50vw;
    margin-top: 2vh;
    margin-right: 2vw;
    border-radius: 1vh;
    border: none;
    background-color: rgba(255, 255, 255, .2);
}

::placeholder {
    font-family: 'Nunito';
    font-size: 1vw;
    color: white;
}

/* REPORTS */

.speakers {
    position: relative;
    max-width: 100%;
}

.speakers-items {
    position: relative;
    margin: 8vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.speaker-img {
    width: 70px;
}

.speaker-description {
    font-size: 15px;
}

.box {
    position: relative;
    width: 220px;
    height: 300px;
    margin: 3vh 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
}

.box::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

.box:hover:before,
.box:hover:after {
    transform: skewX(0deg) scaleX(1.3);
}

.box:before,
.box:after {
    background: linear-gradient(315deg, #656565, #563204)
}

.box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.box span::before {
    content: '';
    position: absolute;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.1s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08)
}

.box span::before {
    top: -40px;
    left: 40px;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.box span::after {
    content: '';
    position: absolute;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation-delay: -1s;
}

.box span::after {
    bottom: -40px;
    right: 40px;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.box .content {
    position: relative;
    width: 190px;
    height: 254px;
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #E9F1FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box:hover span::before {
    animation: downRect 1s alternate linear;
    transition: all 0.3s ease-in;
}

.box:hover span::after {
    animation: upRect 1s alternate linear;
    transition: all 0.3s ease-in;
}

@keyframes downRect {
    from {
        top: -40px;
        left: 40px;
    }

    50% {
        top: -20px;
        left: 60px;
    }

    to {
        top: -40px;
        left: 40px;
    }
}

@keyframes upRect {
    from {
        bottom: -40px;
        right: 40px;
    }

    50% {
        bottom: -20px;
        right: 60px;
    }

    to {
        bottom: -40px;
        right: 40px;
    }
}

@media (max-width: 559px) {
    .subscribe * {
        font-size: 2vh;
    }

    .subscribe button {
        font-size: 1.5vh;
    }
}

@media (max-width: 1000px) {
    .menu-link {
        display: none;
    }

    .burger {
        display: block;
    }
}
